.pokemon-card {
    max-width: 400px;
    margin-top: 20px;
}

.example-header-image {
    background-size: cover;
}

.capitalized {
    text-transform: capitalize;
}

.header-sprite {
    height: stretch;
}